<link rel="stylesheet" href="/css/partials/bgImageWithText.css">

<section>
    <div class="bgImage" style="--img: url(<%= imgUrl %>)">
        <div class="bgImg"></div>
        <h1><%= imageText %></h1>
    </div>
</section>